<% if current_user %>
    <% content_for :title, "New pet" %>
    <h1>Register new pet</h1>
    <%= render "form", pet: @pet %>
    
<% else %>
    <p>You need to <%= link_to "log in", new_user_path %> to register a new pet.</p>
    <div>
        <%= link_to "Back to pets", pets_path %>
    </div>

<% end %>
