<% content_for :title, "User" %>


<%
=begin%>
 add security 
<%
=end%>
<h1>Users List</h1>

<div id="users">
  <% @user.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
  
</div>
